<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
                  class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%green(%d{ISO8601})] [%highlight(%-5level)] [%blue(%t)]
                [%yellow(%logger{40}).%M:%L]: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/booking-api.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d] [%p] [%t] [%logger{40}.%M:%L]: %m%n</Pattern>
        </encoder>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/booking-api-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>3MB</maxFileSize>
            <!-- total size of all archive files, if total size over limit, it will 
            delete old archived file -->
            <totalSizeCap>5GB</totalSizeCap>
            <!-- days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="warn">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="com.tc.booking" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.hibernate" level="warn" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
	
    <logger name="org.hibernate.SQL" level="warn" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

</configuration>
